{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/extensions": [
      ".ts"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "no-console": 0
  },
  "env": {
    "jest/globals": true
  }
}